body{
    text-align: center; 
    background-color:#4B4A4A; 
    color:#858585;
}
.decade{
    display: flex;
    margin-top: 20px;
}
.boxes{
    margin: auto;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(53,auto);
    row-gap: 4px;
    -moz-column-gap: 4px;
    column-gap: 4px;
}
.box{
    width: 8px;
    height: 8px;
    border: 1px solid #858585;
    border-radius: 1px;
}
.enabled{
    background-color: #757575;
}
.box-break{
    margin-right: 20px;
}
.year{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
}
.paragraph{
    margin: auto;
    width: 50em;
}